* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-y: hidden;
    overflow-x: hidden;

    background-color: #050F0E;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -2;
}

.start-button {
    position: absolute;
    font-size: 100px;
    text-align: center;
    color: white;
    top: 40%;
    left: 17%;
    background-color: transparent;
    border: none;
}

h4 {
    position: absolute;
    font-size: 50px;
    text-align: center;
    color: white;
    top: 50%;
    left: 12%;
    background-color: transparent;
    border: none;
}

.background {
    float: right;
}

.start-button, .background {
    opacity: 1;
    transition: 1s;
}

.start-button.fade-out, .background.fade-out {
    opacity: 0;
    transition: 2s;
}

#video-0 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: black;
}

#video-0.fade-out {
    opacity: 0;
    transition: 4s;
}

p {
    font-family: monospace;
    font-weight: bold;
    font-size: 4.1vh;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: limegreen;
    text-shadow: 0px 0px 10px limegreen;
  }